# Copy this file to /opt/misneach/env/courses.env and set real values
# Do not commit real secrets

NODE_ENV=
HOST=
PORT=
MARIA_DB_HOST=
MARIA_DB_PORT=
MARIA_DB_USERNAME=
MARIA_DB_PASSWORD=
MARIA_DB_DATABASE=
COURSES_TARGET_LANGUAGE=
CORS_ORIGIN=
CORS_METHODS=
CORS_HEADERS=
CORS_CREDENTIALS=
COURSES_CONTENT_PROVIDER=
COURSES_PREVIEW_ENABLED=
COURSES_PREVIEW_SECRET=
COURSES_TASTER_COURSE_SLUG=
COURSES_TASTER_LESSON_SLUG=
INTERNAL_AUTH_SECRET=
