# Copy this file to /opt/misneach/env/phrasebook.env and set real values
# Do not commit real secrets

NODE_ENV=
MARIA_DB_HOST=
MARIA_DB_PORT=
MARIA_DB_USERNAME=
MARIA_DB_PASSWORD=
MARIA_DB_DATABASE=
KAFKA_BROKERS=
KAFKA_GROUP_ID=
PORT=
HOST=
CORS_ORIGIN=
REDIS_URL=
